$font-family: 'Source Sans Pro', sans-serif;
$italics: 'Merriweather', serif;

$card-size: 270px;
$gutter: 18px;

$body-bg: #292929;
$body-color: #59684A;

$primary: #59684A;
$secondary: #9C7945;

$card-bg: #F2F2F2;
$card-color: $body-color;

$card-radius: 12px;