@import 'styles/variables';

main {
    padding-top: 40px;
}

.container {
    width: $card-size * 2 + $gutter;
    margin: auto;
}

.plant-list {
    display: inline-grid;
    grid-template-columns: $card-size $card-size;
    gap: $gutter;
}

.plant-card {
    background-color: $card-bg;
    border-radius: 12px;
    width: $card-size;
    overflow: hidden;

    .photo {
        width: 100%;
        padding-bottom: 60%;
        background-size: cover;
        background-color: #59684A;
        position: relative;
    }

    .main {
        padding: 10px 14px;
        color: $card-color;

        .location {
            text-transform: uppercase;
            font-size: 0.65rem;
            font-weight: 500;;
        }

        .name {
            font-size: 1.5rem;
        }

        .latin {
            font-family: $italics;
            font-size: 0.85rem;
            letter-spacing: 0.025rem;
            color: $card-color-alt;
        }

        .toxicity {
            margin-top: 20px;

            span + span {
                margin-left: 10px;
            }
        }
    }
}