@import 'styles/variables';

$card-size: 270px;
$gutter: 18px;

main {
    padding-top: 40px;
}

.container {
    width: $card-size * 2 + $gutter;
}

.plant-list {
    display: inline-grid;
    grid-template-columns: $card-size $card-size;
    gap: $gutter;
}

.plant-card {
    background-color: #D9D9D9;
    border-radius: 12px;
    width: $card-size;
    overflow: hidden;

    .photo {
        width: 100%;
        padding-bottom: 60%;
        background-size: cover;
        background-color: #59684A;
        position: relative;
    }

    .main {
        padding: 10px 14px 40px;
        color: #59684A;

        .location {
            text-transform: uppercase;
            font-size: 0.65rem;
            font-weight: 500;;
        }

        .name {
            font-size: 1.5rem;
        }

        .latin {
            font-family: $italics;
            font-size: 0.85rem;
            letter-spacing: 0.025rem;
            color: #958457;
        }
    }
}